mat-dialog-content p {
  font-size: 16px;
  color: #444;
  margin: 0;
}

mat-dialog-title {
  font-weight: bold;
  color: #d32f2f; /* rouge Material */
}

mat-dialog-actions {
  margin-top: 15px;
}
.snackbar-success {
  background-color: #4caf50; /* vert succès */
  color: white;
  font-weight: bold;
}
